# =========================
# R / RStudio
# =========================
.Rhistory
.RData
.Rproj.user/

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Input data (NO clinical data)
# =========================
input/

# =========================
# Outputs (NO results)
# =========================
output/

# =========================
# Optional backups
# =========================
*.bak
*.tmp
.positai
